// COLOR

$orangered-light: #ff3366;
$orangered-medium: #eb2f64;
$orangered-dark: #ba265d;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

// FONT

// font: 16px = 100%;
// Then, 10px = 62.5%;
// is-     (10*100)/16;

$font-root: 62.5%;
$font-default: 1.6rem;